@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black url("../images/independencia-pedro-americo.jpg") center center no-repeat fixed;
    background-size: cover;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 35px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0px 0px 5px 5px;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagem {
    max-width: 500px;
    margin-bottom: 40px;
}

h1 {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

img {
    position: relative;
    width: 100%;
}

.imagem p {
    font-size: 0.8em;
}

.conteudo {
    max-width: 600px;
    margin: auto;
}

.conteudo p {
    margin-bottom: 16px;
    text-indent: 15px;
    text-align: justify;
}

.container2 {
    display: flex;
    justify-content: end;
    margin-top: 25px;
}

button {
    width: 105px;
    height: 41px;
    border-radius: 15px;
    border: 1px black solid;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #d1d1d1;
}