@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@700 & display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: black url("../images/63006790_1006.jpg") center center no-repeat fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    color: black;
    margin-top: 42px;
    font-family: roboto;
}

main {
    position: relative;
    max-width: 800px;
    margin: 50px auto 70px auto;
    padding: 0 10px;
}

main::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    background-color: #444;
    z-index: -1;
}

section {
    position: relative;
    padding: 15px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 50px 0;
}

/*
section::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #f9f9f9 transparent transparent;
}

section::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #f9f9f9;
}
*/

section > h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    color: #444;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0;
    padding-top: 17px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0px 0px 0px;
    padding: 0;
}

a {
    text-decoration: none;
    color: #00F;
}

a > h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

a:active {
    color: #F00;
    text-decoration: none;
}

a > h3 {
    display: inline-block;
}

footer {
    background-color: black;
    padding: 25px;
}

footer h3 {
    color: white;
    margin-bottom: 10px;
    padding-top: 0;
}

footer ul {
    list-style-type: none;
}

footer li {
    color: white;
}